/* Import Sofia Pro Bold font */
@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('fonts/sofia-pro/Sofia\ Pro\ Semi\ Bold\ Az.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Import Minion Pro font */
@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/minion-pro/MinionPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contact-container {
    display: flex;
    justify-content: center; /* Adjusts the spacing between the two flex items */
    align-items: center; /* Aligns items at the start of the container */
    gap: 20px; /* Adds space between the flex items */
    height: 100vh;
    margin: 0; /* Optional margin to adjust spacing around the container */
}

.heading {
    flex: 1; /* Ensures the heading takes up some space */
    font-family: 'Sofia Pro Bold', sans-serif;
    font-size: 12px;
}

.form {
    flex: 2; /* Makes the form slightly larger than the heading */
}

form {
    display: flex;
    flex-direction: column; /* Ensures the form elements stack vertically */
    gap: 10px; /* Adds space between form elements */
}

button {
    align-self: flex-start; /* Aligns the submit button to the left */
}

.haiku {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh; /* Adjust based on your layout */
}

/* Apply background and text colors */
body {
    background-color: #f9f9f9;
    color: #1B1212;
    margin: 0;
    font-family: 'Minion Pro', serif;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    color:#1B1212;
    padding: 0 20px;
}

.logo {
    font-family: 'Sofia Pro Bold', sans-serif;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1B1212;
    font-family: 'Sofia Pro Bold', sans-serif;
    font-weight: bold;
}

/* Header Image Styles */
.header-image img {
    width: 100%;
    height: auto;
}

/* Content Styles */
.content {
    padding: 20px;
}

.content h1 {
    font-family: 'Sofia Pro Bold', sans-serif;
}

.content p {
    font-family: 'Minion Pro', serif;
}
